/*body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}*/

div.homeheader {
    content: ' ';
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    background-image: url('../images/lowpoly1b.jpg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;  
}
.jumbotron h1, .jumbotron p {
    color: #fff;
}
code, pre {
    color: #5BC0DE;
    background-color: #222;
}
pre {
    border-color: #333;
}
/* bootstrap override */
/*div.homeheader:after {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.6;
    background-image: url('../images/lowpoly1.jpg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}*/


.navbar-brand img {
    height: 100%;
}

.page-header {
    background-color: #242629;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #18a7e3;
    font-size: 28pt;
    text-decoration: none;
}

h4.category {
    color: #999;
}

h1 a {
    color: #18a7e3;
    font-family: 'Rajdhani';
}

img#header-logo {
    width: 75px;
    padding-right: 10px;
    margin-bottom: 7px;
}

dl.bundle-list dt {
    font-size: 18px;
}

dl#releases {
    border-left: 0px
    padding: 5px;
    font-size: 18px;
}
dl#releases dt {
    margin-top:15px;
    }
dl#releases dd {

    }
span.date {
    color: #999;
    font-size: 11px;
    font-weight: normal;
    margin-left: 5px;
}

img.author-avatar-url {
    max-height: 60px;
}

img.author-avatar-url-sml {
    max-height: 30px;
}

