body {
    background: #eee;
}

/* bootstrap override */
.navbar-brand img {
    height: 100%;
}

.page-header {
    background-color: #242629;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #18a7e3;
    font-size: 28pt;
    text-decoration: none;
}

h4.category {
    color: #999;
}

h1 a {
    color: #18a7e3;
    font-family: 'Rajdhani';
}

img#header-logo {
    width: 75px;
    padding-right: 10px;
    margin-bottom: 7px;
}

dl.bundle-list dt {
    font-size: 18px;
}

dl#releases {
    border-left: 0px
    padding: 5px;
    font-size: 18px;
}
dl#releases dt {
    margin-top:15px;
    }
dl#releases dd {

    }
span.date {
    color: #999;
    font-size: 11px;
    font-weight: normal;
    margin-left: 5px;
}

